.GenderChart {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.GenderChart ul li {
  font-size: 30px;
  list-style: none;
}

.EmploymentChart {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.EmploymentChart ul li {
  font-size: 30px;
  list-style: none;
}
